{% extends 'userbase.html' %} {% block body %}
<form action="{{url_for('user.change_password')}}" method="Post">
    <h1>Change Password</h1>
    <div
        class="password-container form-floating mb-3"
        data-tooltip="Enter your Old password"
    >
        <input
            type="password"
            name="old_password"
            class="form-control"
            placeholder="Old Password"
            required
            id="loginpass"
        />
        <label for="old_password">Old Password</label>
        <button
            type="button"
            class="show-password-btn"
            onclick="togglePassword()"
        >
            <i class="far fa-eye" id="togglePassword"></i>
        </button>
    </div>
    <div
        class="password-container form-floating mb-3"
        data-tooltip="Enter your New Password"
    >
        <input
            type="password"
            name="new_password"
            class="form-control"
            placeholder="New Password"
            required
            id="loginpass"
        />
        <label for="new_password">New Password</label
        ><button
            type="button"
            class="show-password-btn"
            onclick="togglePassword()"
        >
            <i class="far fa-eye" id="togglePassword"></i>
        </button>
    </div>
    <div
        class="password-container form-floating mb-3"
        data-tooltip="Confirm Password"
    >
        <input
            type="password"
            name="confirm_password"
            class="form-control"
            placeholder="Confirm Password"
            required
            id="loginpass"
        />
        <label for="confirm_password">Confirm Password</label
        ><button
            type="button"
            class="show-password-btn"
            onclick="togglePassword()"
        >
            <i class="far fa-eye" id="togglePassword"></i>
        </button>
    </div>
    <div class="form-floating mb-3">
        <input type="submit" class="btn btn-primary" value="Change Password" />
    </div>
</form>
{% endblock %}
