{% extends 'userbase.html' %} {% block title %} User-Contacts {% endblock %} {%
block body %}
<form
    action="{{ url_for('user.mod_profile') }}"
    method="post"
    enctype="multipart/form-data"
    novalidate
>
    {{ form.hidden_tag() }} {% macro render_field(field, value=None,
    placeholder=None, optional=False) %}
    <div class="form-group">
        {{ field.label(class="form-label") }} {{ field(class="form-control",
        value=value, placeholder=placeholder) }} {% if optional %}
        <span style="font-size: 0.8rem">(Optional)</span>
        {% endif %} {% if field.errors %}
        <div class="alert alert-danger">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endmacro %}
    <h1>Please fill the details</h1>

    {{ render_field(form.profile) }} {{ render_field(form.name, value=user.name)
    }} {{ render_field(form.job, value=user.job_position,
    placeholder="Optional", optional=True) }} {{ render_field(form.dept,
    value=user.dept) }} {{ render_field(form.location, value=user.location) }}
    {{ render_field(form.job_status, value=user.employment_status) }} {{
    render_field(form.email, value=user.email) }} {{ render_field(form.year,
    value=user.year) }} {{ render_field(form.whatsapp_no,
    value=user.whatsapp_no) }} {% if user.date_first_login %} {% else %}

    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        <div class="password-container">
            {{ form.password(class="form-control", id="loginpass") }}
            <button
                type="button"
                class="show-password-btn"
                onclick="togglePassword()"
            >
                <i class="far fa-eye" id="togglePassword"></i>
            </button>
        </div>
        {% if form.password.errors %}
        <div class="alert alert-danger">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %} {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}
