{% extends 'base.html' %} {% block body %}
<div class="card-container">
    <div class="card" id="event-card">
        <img
            src="https://picsum.photos/400/300"
            class="card-img-top"
            alt="..."
        />
        <div class="card-body">
            <h2 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" id="event-add">
       <button type="submit" onclick="add_event()">+</button>
    </div>
</div>
<div class="event-add-pop" id="eventPopup">
    <div class="event-form-container">
        <h1>Add New Event</h1>
        <form action="{{ url_for('add_event') }}" method="post">
            <div class="form-group">
                <label for="title">Event Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Event Description</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Event Date</label>
                <input type="date" id="date" name="date" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
            <button type="button" class="submit-btn" onclick="closeEventPopup()">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
